<% document.cacheDuration = 30000; %><%& '/site/header/' %>

<script>
function call(verb) {
	var resource = $('input[name=resource]:checked').val();
	var mime = $('input[name=mime]:checked').val();
	$.ajax({
		type: verb,
		url: resource,
		cache: false,
		data: ((verb == 'POST') || (verb == 'PUT')) ? $('#content').val() : null,
		contentType: 'application/json', // What we are sending
		dataType: (mime == 'application/json') ? 'json' : 'text', // What we're requesting
		beforeSend: function(request) {

			// By default, jQuery adds the "*/*" wildcard to our Accept header, so
			// that the resource will respond using whatever MIME type it desires.
			// For our testing purposes, we want to request a specific MIME type.
			
			request.setRequestHeader('Accept', mime);
		},
		error: function(request, status, ex) {
			update(status, request.responseText);
		},
		success: function(data, status) {
			update(status, data);
		}
	});
	function update(status, result) {
		$('#status').html(
			'Resource: ' + resource + '<br />' +
			'Verb: ' + verb + '<br />' +
			'MIME type preferred: ' + mime + '<br />' +
			'Status: ' + status + '<br />' +
			'Timestamp: ' + new Date().getTime()
		);
		
		if (mime == 'application/json') {

			// Note: When dataType is 'json', jQuery automatically converts the JSON returned
			// into a JavaScript object. To print it out, we need to translate it back to JSON!
			// (This is good for this demo, because it proves that the JSON is valid.)
		
			result = 'Text dump of valid JSON received:<p>' + $.toJSON(result) + '</p>';
		}
		else {
			result = 'Text received:<p>' + result + '</p>';
		}
		
		var width = $('#main').width() - 5;
		$('#result').width(width).html(result);
	}
}

function seeMainSource() {
	var resource = $('input[name=resource]:checked').val();
	window.location = resource + '?source=true';
}
</script>

<table width="100%" cellpadding="10" cellspacing="0"><tr valign="top"><td width="50%">
	<h2>Explicit Resources</h2>
	<p>
		The following examples are of explicit resources written in all supported languages.
		The resource state is stored in the application globals, so the source code, purposely verbose,
		is a good example of how to optimize shared state access for high concurrency.
	</p>
	<p>
		We'll be using JavaScript (in your browser) to communicate with Prudence resources,
		using jQuery. Thus, this is also a useful example of "AJAX" essentials: JSON representations
		are consumed as native JavaScript data structures in the browser.
	</p>
	<p> 
		The representations are all in <a href="http://www.json.org/">JSON</a>.
		Press an action button to try it out.
	</p>
	<p>
		POST ("update") only changes JSON keys that you specify in the resource, while leaving the others intact.
		PUT ("create/replace") replaces the entire resource.
	</p>
	<h3>Resource</h3>
	<p>
		<input type="radio" name="resource" value="javascript/" checked="true">JavaScript</input><br />
<% if (executable.manager.getAdapterByTag('jython')) { %>
		<input type="radio" name="resource" value="python/">Python</input><br />
<% } %>
<!-- 
<% if (executable.manager.getAdapterByTag('jepp')) { %>
		<input type="radio" name="resource" value="python-jepp/">Python (Jepp)</input><br />
<% } %>
 -->
<% if (executable.manager.getAdapterByTag('ruby')) { %>
		<input type="radio" name="resource" value="ruby/">Ruby</input><br />
<% } %>
<% if (executable.manager.getAdapterByTag('groovy')) { %>
		<input type="radio" name="resource" value="groovy/">Groovy</input><br />
<% } %>
<% if (executable.manager.getAdapterByTag('clojure')) { %>
		<input type="radio" name="resource" value="clojure/">Clojure</input><br />
<% } %>
<% if (executable.manager.getAdapterByTag('quercus')) { %>
		<input type="radio" name="resource" value="php/">PHP</input><br />
<% } %>
	</p>
	<p>
		<input type="button" onclick="seeMainSource()" value="See source code" />
	</p>
</td><td width="50%">
	<h3>MIME type to prefer</h3>
	<p>
		(Used in GET, POST and PUT only)
	</p>
	<p>
		<input type="radio" name="mime" value="application/json" checked="true">application/json</input><br />
		<input type="radio" name="mime" value="text/plain">text/plain</input>
	</p>
	<h3>JSON to send</h3>
	<p>
	 	(Used in POST and PUT only)
	</p>
	<p>
		<textarea id="content" cols="40" rows="5"></textarea>
	</p>
	<h3>Actions</h3>
	<p>
		<input type="button" onclick="call('GET')" value="GET (read)" /><br />
		<input type="button" onclick="call('POST')" value="POST (update)" /><br />
		<input type="button" onclick="call('PUT')" value="PUT (create/replace)" /><br />
		<input type="button" onclick="call('DELETE')" value="DELETE" />
	</p>
</td></tr></table>

<div class="hr"><hr /></div>

<h3>Result of last action</h3>
<p>
	<div id="status">n/a</div>
</p>
<p>
	<div id="result" class="result"></div>
</p>

<%& '/site/footer/' %>