<%velocity #set($document.cacheDuration = 30000) %><%& 'header/' %>

<h1>HTML Generation Tests</h1>
<p>
These tests all do pretty much the same thing, except that each uses a different language. They're here as
as examples of how to write scriptlets. Note that at the top of each
page you will see a timestamp -- this is used to test caching mode, during which the timestamp should stay constant for 5 seconds, no matter
how many times you refresh the page.
</p>

<div class="hr"><hr /></div>

<table width="100%"><tr valign="top"><td>
<h2>JavaScript</h2>
<p>
<% #if($executable.manager.getAdapterByTag('javascript')) %>
<a href="../test/rhino/?id=hello">caching mode</a><br />
<a href="../test/rhino/?id=hello&defer=true">deferred mode</a><br />
<a href="../test/rhino/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td><td>
<h2>PHP</h2>
<p>
<% #if($executable.manager.getAdapterByTag('php')) %>
<a href="../test/quercus/?id=hello">caching mode</a><br />
<a href="../test/quercus/?id=hello&defer=true">deferred mode</a><br />
<a href="../test/quercus/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td></tr><tr valign="top"><td>
<h2>Python (Jython)</h2>
<p>
<% #if($executable.manager.getAdapterByTag('jython')) %>
<a href="../test/jython/?id=hello">caching mode</a><br />
<a href="../test/jython/?id=hello&defer=true">deferred mode</a><br />
<a href="../test/jython/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td><td>
<h2>Python (Jepp)</h2>
<p>
<% #if($executable.manager.getAdapterByTag('jep')) %>
<a href="../test/jepp/?id=hello">caching mode</a><br />
<a href="../test/jepp/?id=hello&defer=true">deferred mode</a><br />
<a href="../test/jepp/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td></tr valign="top"><tr><td>
<h2>Ruby</h2>
<p>
<% #if($executable.manager.getAdapterByTag('ruby')) %>
<a href="../test/jruby/?id=hello">caching mode</a><br />
<a href="../test/jruby/?id=hello&defer=true">deferred mode</a><br />
<a href="../test/jruby/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td><td>
<h2>Groovy</h2>
<p>
<% #if($executable.manager.getAdapterByTag('groovy')) %>
<a href="../test/groovy/?id=hello">caching mode</a><br />
<a href="../test/groovy/?id=hello&defer=true">deferred mode</a><br />
<a href="../test/groovy/?source=true">source</a>
</p>
<% #else %>
n/a
<% #end %>
</td></tr><tr valign="top"><td>
<h2>Clojure</h2>
<p>
<% #if($executable.manager.getAdapterByTag('clojure')) %>
<a href="../test/clojure/?id=hello">caching mode</a><br />
<a href="../test/clojure/?id=hello&defer=true">deferred mode</a><br />
<a href="../test/clojure/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td><td>
<h2>Velocity</h2>
<p>
<% #if($executable.manager.getAdapterByTag('velocity')) %>
<a href="../test/velocity/?id=hello">caching mode</a><br />
<a href="../test/velocity/?id=hello&defer=true">deferred mode</a><br />
<a href="../test/velocity/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td>
</tr></table>

<%& 'footer/' %>