<%velocity #set($prudence.cacheDuration = 30000) %><%& '../fragments/header/' %>

<h2>HTML Generation Demos</h2>
<p>
These demos all do pretty much the same thing, except that each uses a different language. They're here as
as examples of how to write scriptlets. Note that at the top of each
page you will see a timestamp -- this is used to test caching mode, during which the timestamp should stay constant for 5 seconds, no matter
how many times you refresh the page. See the <a href="faq">FAQ</a> for an explanation of the difference between caching and streaming mode.
</p>

<div class="hr"><hr /></div>

<table width="100%"><tr valign="top"><td>
<h3>JavaScript</h3>
<p>
<% #if($executable.context.manager.getAdapterByTag('javascript')) %>
<a href="../test/rhino/?id=hello">caching mode</a><br />
<a href="../test/rhino/?id=hello&stream=true">streaming mode</a><br />
<a href="../test/rhino/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td><td>
<h3>PHP</h3>
<p>
<% #if($executable.context.manager.getAdapterByTag('php')) %>
<a href="../test/quercus/?id=hello">caching mode</a><br />
<a href="../test/quercus/?id=hello&stream=true">streaming mode</a><br />
<a href="../test/quercus/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td></tr><tr valign="top"><td>
<h3>Python (Jython)</h3>
<p>
<% #if($executable.context.manager.getAdapterByTag('jython')) %>
<a href="../test/jython/?id=hello">caching mode</a><br />
<a href="../test/jython/?id=hello&stream=true">streaming mode</a><br />
<a href="../test/jython/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td><td>
<h3>Python (Jepp)</h3>
<p>
<% #if($executable.context.manager.getAdapterByTag('jep')) %>
<a href="../test/jepp/?id=hello">caching mode</a><br />
<a href="../test/jepp/?id=hello&stream=true">streaming mode</a><br />
<a href="../test/jepp/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td></tr valign="top"><tr><td>
<h3>Ruby</h3>
<p>
<% #if($executable.context.manager.getAdapterByTag('ruby')) %>
<a href="../test/jruby/?id=hello">caching mode</a><br />
<a href="../test/jruby/?id=hello&stream=true">streaming mode</a><br />
<a href="../test/jruby/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td><td>
<h3>Groovy</h3>
<p>
<% #if($executable.context.manager.getAdapterByTag('groovy')) %>
<a href="../test/groovy/?id=hello">caching mode</a><br />
<a href="../test/groovy/?id=hello&stream=true">streaming mode</a><br />
<a href="../test/groovy/?source=true">source</a>
</p>
<% #else %>
n/a
<% #end %>
</td></tr><tr valign="top"><td>
<h3>Clojure</h3>
<p>
<% #if($executable.context.manager.getAdapterByTag('Clojure')) %>
<a href="../test/clojure/?id=hello">caching mode</a><br />
<a href="../test/clojure/?id=hello&stream=true">streaming mode</a><br />
<a href="../test/clojure/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td><td>
<h3>Velocity</h3>
<p>
<% #if($executable.context.manager.getAdapterByTag('velocity')) %>
<a href="../test/velocity/?id=hello">caching mode</a><br />
<a href="../test/velocity/?id=hello&stream=true">streaming mode</a><br />
<a href="../test/velocity/?source=true">source</a>
<% #else %>
n/a
<% #end %>
</p>
</td>
</tr></table>

<%& '../fragments/footer/' %>