<%& '/site/header/' %>
	<h2>Prudence Example</h2>
<%
if (conversation.request.method == 'POST') {
	var url = conversation.form.get('url')
	var resource = document.external(url, 'application/json')
	var text
	try {
		text = resource.get().text
	}
	finally {
		resource.response.release()
	}
%>
	<p>
		The resource is:
	</p>
	<pre><%= text %></pre>
	<p>
		Click <a href="..">here</a> to return to the main page.
	</p>
<% } else { %>
	<form name="external" method="POST">
		<p>Enter the URL of a JSON resource:</p>
		<p><input name="url" type="text" value="<%= conversation.reference.baseRef %>house.json" size="100"></input></p>
		<p><button type="submit">Fetch it!</button></p>
	</form>
<% } %>
<%& '/site/footer/' %>